body{
    background-color: #faf8f1;
    color:#333;
    font-family: "Noto Serif", serif;
}

.navbar-toggler:focus{
    box-shadow: none;
    border: none;
}
.navbar-nav {
    gap: 20px;
}
.navbar-toggler:focus{
    box-shadow: none;
    border: none;
}
.navbar .nav-link {
    color: #555 !important;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}
.navbar .nav-link:hover {
    color: #7b5637 !important;
    border-bottom: 2px solid #7b5637;
}
.dropdown-menu{
    background-color: #F3F0E6;
    border: 1px solid #E7E1D3;
}
.dropdown-item{
    font-weight: 500;
}
.dropdown-item:hover{
    background-color: #EFE8D8;
    color: #7b5637;
}

/* CONTENEDOR */

.catalogo{
    width: 90%;
    margin: 20px auto;

    display: flex;
    gap: 40px;
}

/* FILTROS */

.filtros{
    width: 250px;
}

.filtros h3{
    margin-bottom: 15px;
    font-size: 14px;
}

.filtros ul{
    list-style: none;
    padding: 0;
}

.filtros li{
    margin: 10px 0;
}

.filtros label{
    display: block;
    margin: 10px 0;
}

.filtros hr{
    margin: 25px 0;
}

/* COLORES */

.colores{
    display: flex;
    gap: 10px;
}

.colores span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    border: 1px solid #ccc;
}

.marron{
    background: brown;
}

.negro{
    background: black;
}

.gris{
    background: gray;
}

.blanco{
    background: white;
}

/* PRODUCTOS */

.productos{
    flex: 1;
}

.cabecera-productos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card{
    width: 280px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,.2);
    transition: .3s;
    text-align: center;
}
.card a{
    text-decoration: none;
}
.card:hover{
    transform: translateY(-5px);
}
.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    background: #cfcfcf;
}
.card h4{
    padding: 15px 15px 0;
    font-size: 16px;
    min-height: 55px;
    margin: 0;
    color: black;
}
.card p{
    padding: 0 15px 15px;
    color: #8B7355;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
}

/* FOOTER */
footer{
    margin-top:80px;
    background-color: #2F2923;
}
footer h5{
    margin-bottom:18px;
    font-weight:700;
}
footer p{
    margin-bottom:10px;
    color:#ddd;
}
footer a{
    color:white;
    text-decoration:none;
}
