body{
    background-color: #faf8f1;
    color:#333;
    font-family: "Noto Serif", serif;
}

.navbar-toggler:focus{
    box-shadow: none;
    border: none;
}
.navbar-nav {
    gap: 20px;
}
.navbar-toggler:focus{
    box-shadow: none;
    border: none;
}
.navbar .nav-link {
    color: #555 !important;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}
.navbar .nav-link:hover {
    color: #7b5637 !important;
    border-bottom: 2px solid #7b5637;
}
.dropdown-menu{
    background-color: #F3F0E6;
    border: 1px solid #E7E1D3;
}
.dropdown-item{
    font-weight: 500;
}
.dropdown-item:hover{
    background-color: #EFE8D8;
    color: #7b5637;
}

/* BANNER */

.banner-comedor{
    background-image: url("../imagenes/banner-comedor.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-banner{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.texto-banner h1{
    font-size: 40px;
}

.texto-banner p{
    font-size: 18px;
}

/* CONTENEDOR */

.contenedor-comedor{
    width: 90%;
    margin: 50px auto;

    display: flex;
    gap: 40px;
}

/* FILTROS */

.filtros{
    width: 250px;
}

.filtros h3{
    margin-bottom: 15px;
    font-size: 14px;
}

.filtros ul{
    list-style: none;
    padding: 0;
}

.filtros li{
    margin: 10px 0;
}

.filtros label{
    display: block;
    margin: 10px 0;
}

.filtros hr{
    margin: 25px 0;
}

/* COLORES */

.colores{
    display: flex;
    gap: 10px;
}

.colores span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    border: 1px solid #ccc;
}

.marron{
    background: brown;
}

.negro{
    background: black;
}

.gris{
    background: gray;
}

.blanco{
    background: white;
}

/* PRODUCTOS */

.productos{
    flex: 1;
}

.cabecera-productos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.grid-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card{
    text-align: center;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h4{
    margin-top: 10px;
}

.card p{
    color: #b8860b;
    font-weight: bold;
}

/* FOOTER */
footer{
    margin-top:80px;
    background-color: #2F2923;
}
footer h5{
    margin-bottom:18px;
    font-weight:700;
}
footer p{
    margin-bottom:10px;
    color:#ddd;
}
footer a{
    color:white;
    text-decoration:none;
}
