body{
    background-color:#faf8f5;
    color:#333;
    font-family: "Noto Serif", serif;
}

/* CONTENIDO */
section h2{
    color: black;
    text-align:center;
    margin-bottom:10px;
    padding-top: 5%;
}

/* Banner */
.banner{
    position:relative;
    height:700px;
    overflow:hidden;
}
.banner video{
    width:100%;
    height:100%;
    object-fit:cover;
}
.bn-texto{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.35);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}
.bn-texto h1{
    font-size:4rem;
    font-weight:bold;
}

/* NAV */
.navbar-toggler:focus{
    box-shadow: none;
    border: none;
}

/* CATEGORÍAS */
#categorias h3{
    font-size:14pt;
    font-weight:600;
    color:black;
    margin-bottom: 5px;
}
.carrusel-categorias{
    display:flex;
    align-items:center;
    gap:20px;
    width:100%;
}
#categorias .contenedor-productos{
    display:flex;
    flex-wrap:nowrap;
    gap:20px;
    overflow:hidden;
    justify-content:flex-start;
    scroll-behavior:smooth;
}
#categorias a{
    text-decoration:none;
    color:black;
    text-align:center;
    display:block;
    overflow: hidden;
    transition:.5s;
    border-radius: 10px;
}
#categorias a:hover{
    transform:translateY(-5px);
    box-shadow: 0 10px 10px -5px rgba(0,0,0,.2);
}
#categorias .contenedor-productos a{
    flex:0 0 230px;
}
#categorias img{
    width:100%;
    height:180px;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
}
.flecha{
    width:50px;
    height:50px;
    border:none;
    font-size:1.8rem;
    cursor:pointer;
    flex-shrink:0;
}

/* PRODUCTOS */
.contenedor-productos{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}
article{
    width:280px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,.2);
    transition:.3s;
    position: relative;
}
article:hover{
    transform:translateY(-5px);
}
article a{
    text-decoration:none;
    color:black;
    display:block;
}
article img{
    width:100%;
    height:220px;
    background:#cfcfcf;
    object-fit:cover;
}
article h3{
    padding:15px 15px 10px;
    font-size: 15pt;
}
article p{
    padding:0 15px 15px;
}
.dsc{
    position:absolute;
    z-index: 3;
    width:35px;
    height:35px;
    border-radius:0 0 10px 0;
    background:red;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:10pt
}

/*FOOTER*/
footer{
    margin-top:80px;
}
footer h5{
    margin-bottom:18px;
    font-weight:700;
}
footer p{
    margin-bottom:10px;
    color:#ddd;
}
footer a{
    color:white;
    text-decoration:none;
}

@media(max-width:768px){
    .hero{
        height:450px;
    }
    .hero-overlay h1{
        font-size:2rem;
    }
    .navbar-brand{
        font-size:1.5rem !important;
    }
}